build
env
*.swp
*.swo
*.o
*.dylib
code/cgi/cgi
code/cgi/tick
code/detach/detach
code/dns/dns
code/helloworld/helloworld
code/idle-basic/idle-basic
code/idle-compute/idle-compute
code/interfaces/interfaces
code/locks/locks
code/multi-echo-server/multi-echo-server
code/multi-echo-server/worker
code/onchange/onchange
code/pipe-echo-server/pipe-echo-server
code/plugin/libhello.so
code/plugin/plugin
code/proc-streams/proc-streams
code/proc-streams/test
code/progress/progress
code/queue-cancel/queue-cancel
code/queue-work/queue-work
code/ref-timer/ref-timer
code/signal/signal
code/spawn/spawn
code/tcp-echo-server/tcp-echo-server
code/thread-create/thread-create
code/tty/tty
code/tty-gravity/tty-gravity
code/udp-dhcp/udp-dhcp
code/uvcat/uvcat
code/uvstop/uvstop
code/uvtee/uvtee
code/uvwget/uvwget
